graph-checks/*
k4-free/*
!k4-free/forbidden_edges2.txt
!k4-free/forbidden_vertices2_edges2.txt
!k4-free/forbidden_vertices3_edges2.txt
!k4-free/forbidden_vertices4_edges2.txt
build
bin
SDP
.cache
round.sage.py
**/__pycache__/
utils/*.txt
wlike/**/*.txt
!wlike/forbidden_vertices2_edges2.txt
